@page "/mycode2"

<PageTitle>@title</PageTitle>

<h1>@title</h1>

<pre><code>@(textOut)</code></pre>

@* <button class="btn btn-primary" @onclick="update">Update</button> *@

<div>
	@for (int i = 0; i < snakeArray.GetLength(0); i++) {
		@for (int j = 0; j < snakeArray.GetLength(1); j++) {
			int valueData = snakeArray[i, j];
		}
		if (i != snakeArray.GetLength(0) -1) {
			<br />
		}
	}
</div>

<input @onkeydown="changeDirection" id="snake_control_input" />

@code {
	private string title = "Snake";
}